@using NiceCode;
@model List<Dream.Model.TB_User>
@{
    ViewBag.Title = "用户管理";
}
<form class="form-inline" action="/UserManager/Index" method="post" onsubmit="document.getElementById('pageIndex').value=0;return true;">
    <div class="searchbar">
        <div class="form-group">
            <p class="form-control-static" style="margin-left:0.5em;">搜索：</p>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="key" placeholder="请输入关键字" value="@ViewBag.Key">
        </div>
        <button type="submit" class="btn btn-primary">搜索</button>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>头像</th>
                <th>昵称</th>
                <th>手机号</th>
                <th>微信号</th>
                <th>余额</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><img src="@item.HeadShowUrl" class="headshow-small" /></td>
                    <td>@item.Nickname</td>
                    <td>@item.Phone</td>
                    <td>@item.Wechat</td>
                    <td>@item.Money</td>
                    <td>@item.CreateDate.GetFormatString1()</td>
                    <td>
                        <a href="/UserManager/Edit?id=@(item.Id)">编辑</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{Html.RenderAction("Pagination", "Common", new { pageIndex = ViewBag.PageIndex, total = ViewBag.Total, pageSize = ViewBag.PageSize });}
</form>